:root {
  --color-bg-primary: #000000;
  --color-bg-inverted: #cfced9;
  --color-text-primary: #cfced9;
  --color-text-inverted: #010103;
  --color-primary: #bc8cff;
  --color-primary-darker: #8e3dff;
  --color-ui-primary: #999999;
  --color-ui-secondary: #666664;
  --color-bold: #999999;
  --color-heiban: #39bae6;
  --color-atamadaka: #ec464f;
  --color-nakadaka: #ff8f40;
  --color-odaka: #6cbf43;
  --font-sans: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Noto Sans JP",
    Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "MS UI Gothic",
    sans-serif;
  --font-serif: "Noto Serif", "Noto Serif JP", Yu Mincho, "Liberation Serif",
    "Times New Roman", Times, Georgia, Serif;
  --max-width: 800px;
  font-size: calc(10px + 1vmin);
}

/* Uncomment this to override Anki theme */
/* .card {
  --fg-link: var(--color-primary-darker);
  background-color: var(--color-bg-inverted);
  color: var(--color-text-inverted);
}

.card.nightMode {
  --fg-link: var(--color-primary);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
} */

#qa {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: var(--font-sans);
  font-size: 1rem;
}

header div {
  width: min(var(--max-width), 100%);
  margin: 0 auto;
}

header span {
  float: right;
  color: var(--color-ui-secondary);
}

.vocab {
  font-family: var(--font-serif);
  font-size: 3rem;
  text-align: center;
}

.sentence {
  font-family: var(--font-serif);
  font-size: 2rem;
  text-align: center;
}

.pitch ol {
  list-style: none;
  display: inline;
  padding: 0;
}

.pitch li {
  display: inline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.divider {
  width: 100%;
}

.definition-index {
  width: min(var(--max-width), 100%);
  margin: 0 auto;
  height: 1.3rem;
  font-size: 0.8rem;
}

.definition-index span {
  float: right;
  color: var(--color-ui-secondary);
}

.definition {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.definition-content div {
  text-align: center !important;
}

.definition ul {
  display: table;
  margin: 0 auto;
}

.definition ol ul {
  display: block;
}

.definition ol {
  display: table;
  margin: 0 auto;
}

.definition img {
  margin: 0 auto;
  max-height: 20vh;
}

.definition table {
  margin: 0 auto;
}

.left-edge,
.right-edge {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.left-edge {
  left: 0;
}
.right-edge {
  right: 0;
}

.popup {
  border: 1px solid var(--color-ui-secondary);
  border-radius: 7px;
  max-width: min(var(--max-width), 100%);
}

.image img {
  margin: 0 auto;
  max-height: 20vh;
}

.replay-button svg {
  height: 2rem;
}

.small-sentence {
  font-size: 1.2rem;
  font-family: var(--font-serif);
}

b {
  font-weight: normal;
  color: var(--color-bold);
}

.heiban {
  color: var(--color-heiban);
}

.atamadaka {
  color: var(--color-atamadaka);
}

.nakadaka {
  color: var(--color-nakadaka);
}

.odaka {
  color: var(--color-odaka);
}

b ruby rt,
.show-furigana ruby rt {
  opacity: 1;
}

ruby rt {
  opacity: 0;
}
ruby:hover rt {
  opacity: 1;
}
