@import url("https://use.typekit.net/xsl8xvw.css");

html.win,
html.mac,
html.linux:not(.android) {
  --main-font: "Source Han Serif", serif;
  --sub-font: "Source Sans", "Source Han Sans", sans-serif;
}

html.mobile {
  --main-font: source-han-serif-japanese, serif;
  --sub-font: source-sans-pro, source-han-sans-japanese, sans-serif;
}

.card.nightMode {
  --main-bg: #0d1117;
  --sub-bg: #161b22;
  --tag-bg: #24292f;
  --main-color: #ffffff;
  --sub-color: #7d8590;
  --tag-color: #959da5;
  --border-color: #30363d;
  --max-width: 800px;
  font-family: var(--main-font);
  background-color: var(--main-bg);
  color: var(--main-color);
  font-size: 20px;
  text-align: center;
}


/* Remove default margins */
* {
  margin: 0px;
  padding: 0px;
}


#qa {
  display: flex;
  align-items: stretch;
  flex-direction: column;
   min-height: calc(100vh - 40px);}

@font-face {
  font-family: "Source Han Sans";
  src: local("Source Han Sans VF"), url("_SourceHanSans-Regular.otf");
}

@font-face {
  font-family: "Source Han Serif";
  src: local("Source Han Serif VF"), url("_SourceHanSerif-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: local("Source Sans 3"), url("_SourceSans.ttf");
}



/* ----- Front elements ----- */


.vocab {font-size: 48px;}
.sentence-big {font-size: 36px;}
#hint {margin-top: -15px; font-size: 20px;}


/* ----- Back elements ----- */


/* Header */
header {
  color: var(--sub-color);
  height: 40px;
  text-align: right;
  font-size: 16px;
  width: 100%;
}
#top-container {
  max-width: calc(var(--max-width) + 20px);
  margin: 0px auto;
  width: calc(100% - 20px);
}
#stars {
  margin-bottom: -5px;
}




/* PC replay button */
.replay-button {margin-top: -5px;}
.replay-button svg {width: 30px; height: auto;}
.replay-button svg path {fill: var(--main-color);}
.replay-button svg circle {fill: var(--main-bg); display: none;}
.replay-button:hover svg path {fill: var(--sub-color);}

/* AnkiDroid replay button */
.nightMode .replaybutton span svg {fill: var(--main-bg); background: var(--main-color);}
.replaybutton {margin: 0; margin-right: 3px; text-decoration: none;}
.replaybutton span {padding: 0; font-size: 16px;}
.replaybutton span svg {
  border-radius: 8px;
  vertical-align: top;
  min-width: 16px;
  min-height: 16px;
}


/* Info */
.info {
  font-size: 28px;
}
#pitch {
  display: inline;
}
#pitch-tags {
  color: var(--main-bg);
  font-family: var(--main-font);
  background-color: var(--main-color);
  vertical-align: top;
  padding: 1px 3px;
  margin-right: -5px;
}


/* Main definition */
#main-def {
  max-width: var(--max-width);
  font-family: var(--sub-font);
  background-color: var(--sub-bg);
  display: inline-block;
  font-size: 24px;
  line-height: 1.75em;
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0px;
  width: calc(100% - 20px);
  border: 1px solid var(--border-color);
}


/* Sentence */
.sentence {
  font-size: 24px;
}


/* Translation button */
a.hint {
  font-family: var(--sub-font);
  color: var(--sub-color);
  width: fit-content;
  font-size: 14px;
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 auto;
  text-decoration: none;
}
a.hint:hover {
  color: var(--main-color);
}


/* Footer */
footer {
  margin-top: auto;
  width: 100%;
}
#bot-container {
  display: flex;
  justify-content: flex-end;
  max-width: calc(var(--max-width) + 20px);
  margin: 0px auto;
  width: calc(100% - 20px);
}
#tags-container{
  flex-grow: 1;
}
.tags {
  font-family: var(--sub-font);
  background-color: var(--tag-bg);
  color: var(--main-color);
  border: 1px solid var(--border-color);
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  margin: auto 3px;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
}


/* ----- Extras ----- */

/* Hide this section by default */
#extras {
  display: none;
}


/* Popup CSS */

.popup {
  border: 1px solid var(--border-color);
  background-color: var(--sub-bg);;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}


/* Misc. info */
#misc-info {
  line-height: 1.5em;
  font-size: 16px;
}
#misc-info li {
  margin-left: 25px;
}


/* Full definition */
#full-def {
  max-width: var(--max-width);
  font-family: var(--sub-font);
  font-size: 18px;
  line-height: 1.5em;
}
#full-def li {
  margin-left: 25px;
}



/* ----- Misc ----- */


/* Class for showing furigana */
.show-furigana > ruby rt {opacity: 1;}


/* Reformat Yomichan definitions */
#main-def div {text-align: center !important; margin: auto;}
#main-def ul {list-style: none; display: inline;}
#main-def ul>li {display: inline;}
#main-def ul>li:not(:last-child)::after {content: "; ";}
#main-def ol {max-width: var(--max-width);display: inline-block; text-align: left;}
#main-def ol>li {margin-left: 40px;}


/* Pitch formatting */
.info ul {list-style: none; display: inline; margin: 0; padding: 0;}
.info li {display: inline;}
.info ul>li.hide-separator::after {content: "";}
.info ul>li:not(:last-child)::after {content: "・";}


/* Remove default margins */
* {
  margin: 0px;
  padding: 0px;
}


/* Images */
img {
  height: 200px;
  width: auto;
  border-radius: 8px;
}
.popup > img {
  max-width: 600px;
}
#main-def > img {
  height: 5em;
  margin-bottom: -0.5em;
}



/* Bold CSS */
b {
  color: var(--sub-color);
  font-weight: 400;
}
b > ruby rt {
  opacity: 1;
}


/* Furigana */
ruby rt {
  user-select: none;
  opacity: 0;
}
ruby:hover rt {
  opacity: 1;
}


/* Dropdown CSS */
details {
  font-family: var(--sub-font);
  margin: 5px 0px;
}
summary {
  user-select: none;
  cursor: pointer;
  width: fit-content;
  margin: 0px auto;
}


/* Line margins */
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Extra toggle */
input[type=checkbox] {
  height: 12px;
  width: auto;
}

/* Pitch */
.pitch-char {
  color: var(--main-color);
}

.pitch-low {
  position: relative;
}

.pitch-high {
  position: relative;
}

.pitch-high > .pitch-line {
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0;
  right: 0;
  height: 0;
  border-top-width: 0.1em;
  border-top-style: solid;
}

.pitch-to-drop {
  position: relative;
  padding-right: 0.1em;
  margin-right: 0.1em;
}

.pitch-to-drop > .pitch-line {
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0;
  right: 0;
  border-top-width: 0.1em;
  border-top-style: solid;
  right: -0.1em;
  height: 0.4em;
  border-right-width: 0.1em;
  border-right-style: solid;
}